/* reseteos generales */
* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-link-color);
}

body {
    margin: 0%;
    height: 100%;
    font-family: 'Varela Round', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* variables */
:root {
    --main-link-color: #ffffff;
    --main-link-colorHover: #f8d432;
    --main-bg-light: #fafafa;
}

/* master section */
.container-fluid {
    width: 100vw;
    padding-left: 0;
}
.footer-main {
    background: var(--main-bg-light);
    padding: 35px 20px;
    text-align: center;
}
.footer-main > ul a {
    padding: 5px 5px;
    font-size: 1.3rem;
    color: #000000;
}
